@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
    --color-black: #000;
    --color-dark: #1c1c1c;
    --color-white: #fff;
    --color-primary: #17BAED;
    --color-secondary: #DBF5FD;
    --color-cardbg: #F1F8FA;
    --color-butt: #45C8F1;

}

body {
    font-family: "DM Sans", serif;
}

h1,
h2 {
    font-family: "Cabrion", ;
}