@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
    --color-black: #000;
    --color-white: #fff;
    --color-skyBlue: #4B98E6;
    --color-skyBg: #E1E8ED;
}

body {
    font-family: 'Cabrion', sans-serif;
}